@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet{
    @media screen and (max-width: 1025px) {
        @content;
    }
}

@mixin laptop{
    @media screen and (max-width: 1200px) {
        @content;
    }
}

$green-bgcolor: hsla(117, 100%, 72%, 0.821);
$black-bgcolor: hsla(0, 0%, 0%, 0.821);

body{
    margin: 0;
    font-family: "Tilt Warp";
}

.form-container{
    background-color: $black-bgcolor;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   

    .form-wrapper{
        margin-bottom: 10%;
        background-color: hsla(0, 0%, 7%, 0.853);
        padding: 20px 60px;
        border-radius: 10%;
        box-shadow: 1px 1px 20px $black-bgcolor;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        border: 1px solid $green-bgcolor;        

        @include mobile{
            margin-bottom: 0%;
            padding: 0%;
            width: 100%;
            overflow: hidden;
            border-radius: 0%;
            min-height: 100vh;
            border: none;
            background-color: hsl(0, 0%, 7%);
        }

        .logo{        
            text-align: center;
            @include mobile{
               margin-top: 15%;
            }
           img{
            width: 300px;
           }         
        }
        .title{
            font-size: 22px;
            color: $green-bgcolor;
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-color: $green-bgcolor;
        }

        p{
            color: $green-bgcolor;
            a{
                color: hsl(117, 100%, 72%);
                margin-left: 4px;
            }
        }

        .loading{
            width: 50px;
            @include mobile{
                width: 35px;
            }
        }  
        
        .generalError{
            text-align: center;
            color: red;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            input{
                width: 250px;
                font-family: "Tilt Warp";
                color: $green-bgcolor;
                padding: 15px;
                border: none;
                border-bottom: 1px solid $green-bgcolor;
                background-color: hsla(117, 100%, 72%, 0);
                border-radius: 5%;
                &::placeholder{
                    font-family: "Tilt Warp";
                    color: $green-bgcolor;
                }
                &:focus{
                    outline: none;
                    border-bottom: 1px solid white;
                }
            }                    
            button{
                margin-top: 1.5vh;
                font-family: "Tilt Warp";
                padding: 12px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 5%;
                background-color: $green-bgcolor;
                color: $black-bgcolor;
                cursor: pointer;
                letter-spacing: 1.5px;
                border: none; 
                transition: 0.3s;
                &:hover{
                    background-color: hsl(117, 100%, 72%);
                }
                @include mobile{
                   font-size: 16px;
                   padding: 10px;
                   width: 50vw;
                   align-self: center; 
                   margin-top: 8%;             
                }
            }
            label{
                margin-top: 1vh;
                display: flex;
                justify-content:baseline;
                align-items:center;
                color: $green-bgcolor;
                font-size: 13.3px;
                gap: 10px;
                cursor: pointer;
                margin-left: 0.3vw;
            }
            .avatar-span{
                margin-left: 1.5%;
            }
            img{
                width: 33px;
                background-color: $green-bgcolor;
                border-radius: 50%;
                padding: 2px;
                margin-left: 1.5%;
            }
            .form-error{
                color: rgba(255, 0, 0, 0.83);
                font-size: 12px;
                margin-left: 0.4vw;
                letter-spacing: 0.2px;

                @include mobile{
                    margin-left: 6vw;
                }
            }      
        }          
    }
}


.home{
    background-color: hsla(0, 2%, 13%, 0.821);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 3px solid $green-bgcolor;
        box-shadow: 10px 10px 80px $black-bgcolor;
        border-radius: 3%;
        width: 80%;
        height: 90%;
        overflow: hidden;
        display: flex;
        @include tablet{
            width: 95%;
            height: 95%;
        }

        @include mobile{
            width: 100%;
            height: 99.5%;
            overflow: hidden;
            border-radius: 0%;
            border: 2px solid $green-bgcolor;
        }

        .sidebar{
            flex: 1;
            background-color: rgb(39, 38, 38);
            position: relative;            

            .selected-chat{
                background-color: hsla(117, 100%, 72%, 0.268);
            }

            .navbar{
                display: flex;
                align-items: center;
                background-color: black;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                overflow: hidden;

                .logo-container{
                    .logo{
                        width: 110px;
                        height: 65px;
                        padding: 0.2vw;
                        object-fit: contain;
                        margin-top: 0.2vw;
                        margin-left: 0.5vw;
                        background-color: black;
                    }
                }
                   
                .user{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    color: $green-bgcolor;                   
                }
    
                img{
                    background-color: $green-bgcolor;
                    width: 35px;
                    height: 35px;
                    padding: 2px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                button{
                    background-color: $green-bgcolor;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    color: $black-bgcolor;  
                    font-weight: 300;
                    padding: 5px 10px;
                    border-radius: 5%;
                    transition: 0.3s;
                    font-family: "Tilt Warp";                   
                    
                    &:hover{
                        background-color: hsl(117, 100%, 72%);
                    }
                }
            }

            .search{    
                overflow-x: hidden; 
                padding: 5px; 
                border-bottom: $green-bgcolor 1px solid;
               
                .error{
                    display: inline-block;                  
                }

                input{
                    background-color: rgb(39, 38, 38);
                    width: 100%;
                    padding: 6px;
                    border: none;
                    
                    color: $green-bgcolor;
                    padding-left: 10px;
                    height: 30px;
                    font-family: "Tilt Warp";


                    &::placeholder{
                        color: hsla(117, 100%, 72%, 0.691);
                        letter-spacing: 0.5px;
                    }

                    &:focus{
                        outline: none;
                    }
                }
            }

            .chats{
                height: calc(100% - 225px);
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 0.1500em; 
                  }
                                   
                &::-webkit-scrollbar-track {
                background-color: transparent;
                border-radius: 100vw;
                }
                                
                &::-webkit-scrollbar-thumb {
                background-color: $green-bgcolor;
                border-radius: 100vw;              
                }
            }

            .user-chat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 15px;
                color: $green-bgcolor;
                cursor: pointer;
                transition: 0.3s linear;  

                &:hover{
                    background-color: $green-bgcolor;
                    color: black;                  
                    .user-chat-info{
                        .lastmsg-time{
                            p, div{
                                color: black;                               
                            }                                                    
                        }                    
                    }
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;                  
                }

                .user-chat-info{
                    width: 100%; 

                    .lastmsg-time{
                        margin-top: 10px;
                        display: flex;
                                               
                        .lastmsg-text{
                            padding-top: 4px;
                        }

                        .date-status{  
                            display: flex;
                            align-items: center;
                                                           
                            p{
                                margin-left: 10px;
                                img{
                                    width: 22px;    
                                    height: 22px;                                              
                                    object-fit: cover;
                                    margin-left: 30%;
                                    border-radius: 50%; 
                                    
                                    @include mobile{
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }

                        div{
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.679);
                            display: inline-block;   
                            margin-left: auto; 
                            margin-right: 0.5vw;                                           
                        }   
                        
                        p{
                            display: inline;
                            font-size: 14px;
                            color: rgba(255, 255, 255, 0.679);
                            margin-left: 4px;
                            margin-top: 0px;
                        }
                    }
                    span{
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 0.5px;                     
                    }                  
                }
            }                       
        }

        .chat{
            flex: 2;
            background-color: rgb(50, 49, 49);

            .chat-info{
                height: 50px;
                padding: 10px;
                display: flex;
                align-items: center;
                background-color: rgb(25, 25, 25);
                color: $green-bgcolor;
                justify-content: space-between;
                position: relative;

                @include mobile{
                    position: fixed;
                    width: 93.7%;
                }

                .user-info{
                    display: flex;
                    align-items: center;                                      
                }

                span{
                    margin-left: 1.2vw;
                    font-size: 20px;
                    @include mobile{
                        margin-left: 20px;
                    }
                }

                img:nth-child(2){
                    @include mobile{
                        margin-left: 10px;
                    }
                }

                img:nth-child(1){
                    @include mobile{
                        margin-left: 6px;
                    }
                }

                img{
                    margin-left: 0.5vw;
                    width: 35px;
                    background-color: aliceblue;
                    border-radius: 50%;
                    object-fit: contain;
                    border: 3px white solid;
                }

                .backBtn{
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    border-radius: 0%;
                    margin-right: 10px;
                    width: 30px;
                }

                button{                
                    padding: 6px;   
                    width: 23%;
                    height: 80%;
                    margin-right: 15px;
                    font-size: 1.1vw;
                    background-color: $green-bgcolor;
                    color: $black-bgcolor;
                    font-family: "Tilt Warp";
                    border-radius: 5%;
                    border: none;
                    cursor: pointer;
                    transition: 0.3s;
                    
                    @include tablet{
                        width: 120px;
                        font-size: 5vw;
                    }

                    @include laptop{
                        font-size: min(16px, 12px);
                    }

                    @include mobile{
                        font-size: 14px;
                        width: 100px;
                        margin-right: 0;
                    }

                    &:hover{
                        background-color: hsl(117, 100%, 72%);
                    }
                }
            }

            .logo-panel{               
                height: 100%;
                .panel-content{
                    margin-top: 15%; 
                    display: flex;
                    justify-content: center; 
                    align-items: center; 
                    flex-direction: column;
                    text-align: center;
                    
                    img{
                        width: 60%;                                       
                    }

                    p{
                        color: white;                      
                        font-size: 20px;
                        letter-spacing: 4px;
                    }

                    p:nth-child(3){
                        margin-top: 0;
                        color: white;
                    }                  
                }                
            }

            .messages{
                background-color: rgb(50, 49, 49);  
                padding: 10px;
                height: calc(100% - 160px);
                overflow-y: scroll;                 
                
                @include mobile{
                    height: calc(100% - 130px);
                    margin-top: 22%;
                }
                
                &::-webkit-scrollbar {
                    width: 0.4em; 
                  }
                                   
                &::-webkit-scrollbar-track {
                background: rgb(57, 57, 57);
                border-radius: 100vw;
                }
                                
                &::-webkit-scrollbar-thumb {
                background-color: $green-bgcolor;
                border-radius: 100vw;              
                }
                                   
                  
                .message{
                    flex-direction: row-reverse;
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    @include mobile{
                        &:last-child {
                            margin-bottom: 45px;
                        }
                    }
                    
                    .message-info{
                        display: flex;
                        flex-direction: column;
                        font-weight: 300;
                        color: $black-bgcolor;                                            
                        span{
                            color: rgba(255, 255, 255, 0.767);
                            font-size: 13px;
                            margin-top: 0.4vh;
                            margin-left: 0.3vh;
                        }
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .message-content{                      
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 100px;                      
                        p{
                            color: white;
                            background-color: rgba(39, 39, 39, 0.736);
                            padding: 10px;
                            border-radius: 0px 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 10vw;
                            @include mobile{                                
                                width: 215px;
                            } 
                            @include tablet{
                                width: 255px;
                            }                    
                        }
                    }

                    &.owner{
                        flex-direction: row;

                        .message-content{
                            align-items: flex-end;                          
                            p{
                                background-color:$green-bgcolor;
                                color: $black-bgcolor;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }

                    }
                }
            }

            .input{
                height: 50px;
                background-color: rgb(174, 173, 173);
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between; 
                
                @include mobile{
                    position: fixed;
                    bottom: 0;
                    width: 93.7%;
                    margin-bottom: 2px;
                }

                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 18px;
                    background-color: rgb(174, 173, 173);
                    font-family: "Tilt Warp";
                    color: $black-bgcolor;

                    &::placeholder{
                        color: $black-bgcolor;                       
                    }
                }

                .icons{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    margin-right: 0.5vw;

                    button{
                        background-color: $green-bgcolor;
                        font-family: "Tilt Warp";
                        color: $black-bgcolor;
                        padding: 10px 15px;
                        border-radius: 5%;
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        transition: 0.3s;
                        &:hover{
                            background-color: hsl(117, 100%, 72%);
                        }
                    }
                }

                img{
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    transition: 0.3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

            }
        }
    }
}