@import './base.scss';
@import './login-register.scss';
@import './sidebar.scss';
@import './chat.scss';

body{
    margin: 0;
    font-family: "Tilt Warp";
}

.home{
    background-color: hsla(0, 2%, 13%, 0.821);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile{
        height: 100svh;
    }
    .container{
        border: 3px solid $green-bgcolor;
        box-shadow: 10px 10px 80px $black-bgcolor;
        border-radius: 3%;
        width: 80%;
        height: 90%;
        overflow: hidden;
        display: flex;
        @include tablet{
            width: 95%;
            height: 95%;
        }
        @include mobile{
            width: 100%;
            height: 99.5%;
            overflow: hidden;
            border-radius: 0%;
            border: 2px solid $green-bgcolor;
        }       
    }
}